{require_min_otp_vsn, "R15"}.

{erl_opts, [debug_info, {parse_transform, lager_transform}]}.

{erl_opts, [{i, "include"},
    {src_dirs, ["src", "test"]}]}.

{sub_dirs, ["rel", "deps"]}.

{lib_dirs,["deps"]}.

{deps_dir, ["deps"]}.

{deps, [
    {lager, ".*", {git, "git://github.com/basho/lager.git", {branch, "master"}}},
    {elog, ".*", {git, "git://github.com/erylee/elog.git", {branch, "master"}}},
    {msgbus_amqp_proxy, ".*", {git, "git://github.com/TigerZhang/msgbus_amqp_proxy.git", {branch, "master"}}},
    {jiffy, ".*", {git, "git://github.com/davisp/jiffy.git", {branch, "master"}}},
    {cberl, ".*", {git, "git://github.com/chitika/cberl.git", {branch, "master"}}}
]}.
