%% -*- mode: erlang -*-
%% ex: ft=erlang
{sys, [
       {lib_dirs, ["../..", "../deps"]},
       {erts, [{mod_cond, derived}, {app_file, strip}]},
       {app_file, strip},
       {rel, "apns", "1",
        [
         kernel,
         stdlib,
         sasl,
            inets,
            asn1,
            crypto,
            ssl,
            compiler,
            public_key,
            rabbit_common,
            cberl,
            jiffy,
            poolboy,
            appmon,
            goldrush,
            lager,
            elog,
            amqp_client,
            msgbus_amqp_proxy,
            apns
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "apns"},
       {profile, embedded},
       {incl_cond, derived},
       {excl_archive_filters, [".*"]}, %% Do not archive built libs
       {excl_sys_filters, ["^bin/(?!start_clean.boot)",
                           "^erts.*/bin/(dialyzer|typer)",
                           "^erts.*/(doc|info|include|lib|man|src)"]},
       {excl_app_filters, ["\.gitignore"]},
    {app, compiler, [{incl_cond, include}]},
    {app, sasl, [{incl_cond, include}]},
    {app, asn1, [{incl_cond, include}]},
    {app, crypto, [{incl_cond, include}]},
    {app, public_key, [{incl_cond, include}]},
    {app, ssl, [{incl_cond, include}]},
    {app, appmon, [{incl_cond, include}]},
    {app, cberl, [{incl_cond, include}]},
    {app, jiffy, [{incl_cond, include}]},
    {app, poolboy, [{incl_cond, include}]},
    {app, rabbit_common, [{incl_cond, include}]},
    {app, lager, [{incl_cond, include}]},
    {app, elog, [{incl_cond, include}]},
    {app, amqp_client, [{incl_cond, include}]},
    {app, msgbus_amqp_proxy, [{incl_cond, include}]},
    {app, apns, [{mod_cond, app}, {incl_cond, include}]}
      ]}.

{target_dir, "apns"}.

{overlay, [
           {mkdir, "log/sasl"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {copy, "apns/bin/start_clean.boot",
                  "\{\{erts_vsn\}\}/bin/start_clean.boot"},
           {copy, "files/apns", "bin/apns"},
           {copy, "files/apns.cmd", "bin/apns.cmd"},
           {copy, "files/start_erl.cmd", "bin/start_erl.cmd"},
           {copy, "files/install_upgrade.escript", "bin/install_upgrade.escript"},
           {copy, "files/vm.args", "releases/\{\{rel_vsn\}\}/vm.args"},
    {template, "files/app.config", "etc/app.config"}
]}.
