%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et
[{kernel,
    [{start_timer, true},
        {start_pg2, true}
    ]},
    {sasl, [
        {sasl_error_logger, {file, "log/apns_sasl.log"}}
    ]},
    {mnesia, [
        {dir, "var/data"}
    ]},
    {lager, [
        {error_logger_redirect, false},
        {crash_log, "log/apns_crash.log"},
        {handlers, [
            {lager_console_backend, info},
            {lager_file_backend, [
                {file, "log/apns_error.log"},
                {level, error},
                {size, 10485760},
                {date, "$D0"},
                {count, 5}
            ]},
            {lager_file_backend, [
                {file, "log/apns_info.log"},
                {level, info},
                {size, 10485760},
                {date, "$D0"},
                {count, 5}
            ]}
        ]}
    ]},
    {msgbus_amqp_proxy, [
        {rabbitmqs, [
            {msgbus_rabbitmq_local, [
                {name, "msgbus_rabbitmq_local"},
                {exchange, <<"msgbus_amqp_proxy">>},
                {amqp_user, <<"guest">>},
                {amqp_pass, <<"guest">>},
                {amqp_vhost, <<"/">>},
                {amqp_host, "localhost"},
                {amqp_port, 5672}
            ]}
        ]},
        {outgoing_queues, [
        ]},
        {incoming_queues, [
            {<<"msgbus_apns_key_">>, <<"msgbus_apns_queue_">>}
        ]},
        {node_tag, <<"apns_zhmbp_test">>},
        {receiver_module, apns_mq_handler} %% forward received message to.
        %% 收到的消息通过 gen_server:cast(receiver_module, {package_from_mq, Data}) 转发
    ]},
    {sasl, [
        {sasl_error_logger, {file, "log/sasl-error.log"}},
        {errlog_type, error},
        {error_logger_mf_dir, "log/sasl"},      % Log directory
        {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
        {error_logger_mf_maxfiles, 5}           % 5 files max
    ]}
].

